.panel-heading {
    padding: 10px 0px 8px 4px;
}

.panel-title {
    font-size: 22px;
    color: #FFF;
}

.panel-body {
    padding: 0px;
 }

.textpanel {
    padding: 5px 0px 2px 4px;
}

th, td {
    text-align: center;
}

td:first-child, th:first-child  {
    text-align: left;
}

.table {
    border: none;
    margin: 0px;
}

.joint {
    padding: 0;  
}

.uptick {
    color: #77e100;
}

.downtick {
    color: #FF0000;
}

.today.old {
    background-color: rgb(155, 89, 182);
    color: #FFF;
}

.today.new {
    background-color: rgb(142, 68, 173);
    color: #FFF;
}

.yest {
    background-color: rgb(236, 240, 241);
}