.panel-heading {
    padding: 10px 0px 8px 4px;
}

.panel-title {
    font-size: 22px;
    color: #FFF;
}

.panel-body {
    padding: 0px;
 }

.textpanel {
    padding: 5px 0px 2px 4px;
}

th, td {
    text-align: center;
}

th{
    background-color: rgb(249,249,249);
}

td:first-child, th:first-child  {
    text-align: left;
}

.table {
    border: none;
    margin: 0px;
}

.joint {
    padding: 0;  
}

.uptick {
    color: #77e100;
}

.downtick {
    color: #FF0000;
}

.today.old {
    //background-color: rgb(250, 193, 90);
    background-color: rgb(250, 169, 78);
    color: #FFF;
}

.today.new {
    //background-color: rgb(250, 169, 78);
    background-color: rgb(245, 138, 68);
    color: #FFF;
}

.yest {
    background-color: rgb(236, 240, 241) !important;
}

.label {
    background-color: #808080;
    margin-left: auto;
}

.today .label {
    background-color: #FFF;
    color: #808080;
}

.dataPanel {
    margin: 0px !important;
}

.panel-heading div {
    display: inline;
}

.text-right {
    float: right;
    padding-right: 8px;
}

.badge {
    font-size: 16px;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 24px;
}

.fa-plus-circle {
    color: #376900;
    font-weight: 600;
    font-size: 16px;
}

.fa-minus-circle {
    color: #a20000;
    font-weight: 600;
    font-size: 16px;
}

.fa-exchange {
    color: #585858;
    font-weight: 600;
    font-size: 16px;
}
