.panel-heading {
    padding: 10px 0px 8px 4px;
}

.panel-title {
    font-size: 22px;
    color: #FFF;
}

.panel-body {
    padding: 0px;
 }

.textpanel {
    padding: 5px 0px 2px 4px;
}

th {
    background-color: #d0d0d0;
}

th, td {
    text-align: center;
    width: 20%;
}

td:first-child, th:first-child  {
    text-align: left;
    width: 40%;
}

.table {
    border: none;
    margin: 0px;
}

.joint {
    padding: 0;  
}

.uptick {
    color: #77e100;
    font-weight: 600;
}

.downtick {
    color: #ff0000;
    font-weight: 600;
}