.panel-heading {
    padding: 10px 0px 8px 4px;
}

.panel-title {
    font-size: 22px;
    color: #FFF;
}

.panel-body {
    padding: 0px;
 }

.textpanel {
    padding: 5px 0px 2px 4px;
}

th {
    background-color: #d0d0d0;
}

th, td {
    text-align: center;
}

td:first-child, th:first-child  {
    text-align: left;
}

.emTable td:first-child, th:first-child {
    width: 40%;    
}

.emTable th, td {
     width: 20%;   
}

.newsTable td:first-child, .newsTable th:first-child {
    width: 70%;    
}

.newsTable th, .newsTable td {
     width: 10%;   
}

.calendarTable td:first-child, .calendarTable th:first-child {
    width: 28%;    
}

.calendarTable th, .calendarTable td {
     width: 12%;   
}


.table, .table-responsive {
    border: none;
    margin: 0px;
}

.joint {
    padding: 0;  
}

.uptick {
    color: #77e100;
    font-weight: 600;
}

.downtick {
    color: #ff0000;
    font-weight: 600;
}