@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Orbitron";
    src: url("fonts/Orbitron-medium.otf") format('opentype');
}

body {
	background-color: #FFF;
	font-family: Lato, Arial, sans-serif;
	padding-top: 60px;
}

h2, h3, h4, .navbar-brand {
	padding-left: 8px;
	letter-spacing: 1px;
	font-size: 22px;
    margin: 0px;
    vertical-align: middle;
}

#pillNav {
    background-color: #34495e;
	font-size: 16px !important;
	z-index: 9999;
    height: 45px !important;
    margin: 0px 0px 5px 0px !important;
    padding: 2px 0px 2px 0px;
    border: none;
    display: inline;
}

.nav-pills li a {
	color: #fff !important;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;   
}

.nav-pills li {
    border-radius: 4px;
    display: inline;
}

.glyphicon {
	font-size: 22px;
}

.table-striped {
	padding: 6px;
	width: 100%;
}

.table-striped td, .table-striped th {
	padding: 3px;
}

.navbar {
	background-color: #34495e;
	font-size: 16px !important;
	z-index: 9999;
    border-bottom: 5px solid;
    height: 50px;
}

a, a:hover {
	text-decoration:none;
    color: #00bfff;
}

#title{
    font-family: Orbitron, Arial, sans-serif;
    color: #FFF !important;
    padding: 12px;
}

#onli a:hover {
	background-color: #00B0F0;
	color: #FFF;
}

#econli a:hover {
	background-color: #F39C11;
	color: #FFF;
}

#emli a:hover {
	background-color: #C0392B;
	color: #FFF;
}

#newsli a:hover{
	background-color: #3498DB;
	color: #FFF;
}