body {
	background-color: #FFF;
	font-family: Lato, Arial, sans-serif;
	padding-top: 60px;
}

h2, h3, h4, .navbar-brand {
	padding-left: 8px;
	letter-spacing: 1px;
	font-size: 22px;
}

.glyphicon {
	font-size: 22px;
}

.entry span {
	display: inline;
	font-size: 1.5rem;
	color: #3498DB;
	align: right;
}

.entry p {
	display:inline;
	font-size: 1.6rem;
	padding-left: 6px;
}

.entry span.active {
	color: #ffffff !important;
}

.table-striped {
	padding: 6px;
	width: 100%;
}

.table-striped td, .table-striped th {
	padding: 3px;
}

.navbar {
	background-color: #34495e;
	font-size: 16px !important;
	line-height: 1.43em !important;
	z-index: 9999;
}

.navbar .glyphicon {
	height: 20px;
}

.navbar li a, .navbar .navbar-brand {
	color: #fff !important;
}

.icon-bar{
	background-color:#fff !important;
}

#newsreturn a {
	color: #00bfff;
	font-size: 1.6rem !important;
}

#newsreturn p {
	font-size: 1.6rem !important;
}

#onli a:hover {
	background-color: #00B0F0;
	color: #FFF;
}

#econli a:hover {
	background-color: #F39C11;
	color: #FFF;
}

#emli a:hover {
	background-color: #C0392B;
	color: #FFF;
}

#newsli a:hover{
	background-color: #3498DB;
	color: #FFF;
}

a, a:hover {
	text-decoration:none;
}