.entry span {
	display: inline;
	font-size: 1.5rem;
	color: #3498DB;
}

.entry p {
	display:inline;
	font-size: 1.6rem;
	padding-left: 6px;
}

.entry span.active {
	color: #ffffff !important;
}

.entry li.active {
     background-color: #3498DB;
}

.panel-body {
    height: 800px;
}

.reader-wrap {
    height: 800px;
    overflow-y: scroll;
}

h2.reader {
    text-align: left;
    padding: inherit;
    color: #000 !important;
}

.list-group {
    margin-bottom: 0px !important;
    border: none !important;
}

.panel-heading {
    padding: 10px 0px 8px 4px;
}

.panel-title {
    font-size: 22px;
    color: #FFF;
}

.panel-body {
    padding: 0px;
 }

.textpanel {
    padding: 5px 0px 2px 4px;
}


.joint {
    padding: 0;  
}
