.entry i {
	display: inline;
	font-size: 1.5rem;
	color: #3498DB;
}

.entry p {
	display:inline;
	font-size: 1.6rem;
	padding-left: 6px;
}

.entry i.active {
	color: #fff !important;
}

.entry li.active {
     background-color: #3498DB;
}

.list-group {
    margin-bottom: 0px !important;
    border: none !important;
}

.textpanel {
    padding: 5px 0px 2px 4px;
}

.header {
    height: 30px;
    margin: 0;
    color: #ffffff;
    vertical-align: middle;
}

.original {
    padding: 12px 30px 12px 30px;
    border: 1px solid #3498DB;
    color: #3498DB;
    margin-top: 15px;
    border-radius: 2px;
}

.original:hover {
    color: #FFF;
    background-color: #3498DB;
}

.main {
    overflow: hidden;
}

#full-reader {
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 55px 8px 0px 8px;
    overflow-y: scroll;
}

.readBtn {
    position: fixed;
    top: 6px;
    right: 10px;
}

#side-reader {
    position: fixed;
    top: 0px;
    left: 33%;
    overflow-y: scroll;
    height: 100%;
    padding: 55px 8px 0px 8px;
}

#newslist {
    overflow-y: scroll;
    height: 100%;
    position: fixed;
    top: 0;
    width: 33%;
    padding: 55px 8px 0px 8px;
}

@media screen and (max-width: 992px) {
    #newslist {
        width: 100%;
    }
}

