.panel-heading {
    padding: 10px 0px 8px 4px;
}

.panel-title {
    font-size: 22px;
    color: #FFF;
}

.panel-body {
    padding: 0px;
 }

.textpanel {
    padding: 5px 0px 2px 4px;
}

th, td {
    text-align: center;
}

td:first-child, th:first-child  {
    text-align: left;
}

.table {
    border: none;
    margin: 0px;
}

.onTable{
    font-size: large;
}

.region {
    background-color: #ffffde !important;
    color: #333 !important;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.region.up {
    background-color: #eeffdc !important;
}

.region.down {
    background-color: #fff3f3 !important;
}

.joint {
    padding: 0;  
}

.up2 {
    color: #77e100;
    font-weight: 600;
}

.up1 {
    color: #77e100;
}

.down1 {
    color: #FF0000;
}

.down2 {
    color: #FF0000;
    font-weight: 600;
}

