<link href="css/calendar.css" rel="stylesheet">
<div ng-include="'/views/navbar.html'"></div>
<div class="container-fluid">
    <div class="panel panel-default">
        <div style="background-color: {{themeColor}}" class="panel-heading">
	        <div class="panel-title">
                <h2><span class="glyphicon glyphicon-align-left"></span>  Economic Data</h2>
            </div>
        </div>
        <div class="panel-body">
            <table class="table calendarTable hidden-xs">
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Country</th>
                    <th>Importance</th>
                    <th>Period</th>
                    <th>Survey</th>
                    <th>Actual</th>
                    <th>Prior</th>
                </tr>
                <tr ng-repeat="data in ecodata.eco" class="{{clsDate(data)}}">
                    <td>{{data.name}}</td>
                    <td>{{data.date | date : 'dd/MM HH:mm' : '+0200'}}</td>
                    <td>{{data.country}}</td>
                    <td>{{data.importance}}</td>
                    <td>{{data.period}}</td>
                    <td>{{data.survey}}</td>
                    <td class="{{clsActual(data)}}">{{data.actual}}</td>
                    <td>{{data.prior}}</td>
                </tr>
            </table>
        </div>
        <div class="panel-group hidden-sm hidden-md hidden-lg">
            <div ng-repeat="data in ecodata.eco" class="panel panel-default dataPanel">
                <div ng-click="global.activeData=$index" class="panel-heading {{clsDate(data)}}">
                    <div>{{data.country}} {{data.name}}</div><div class="text-right">{{data.date | date : 'dd/MM HH:mm': '+0200'}}</div>
                </div>
                <div ng-show="$index==global.activeData" class="panel-body">
                    <table class="table table-default">
                        <tr>
                            <th>Period</th>
                            <th>Survey</th>
                            <th>Actual</th>
                            <th>Prior</th>
                        </tr>
                        <tr>
                            <td>{{data.period}}</td>
                            <td>{{data.survey}}</td>
                            <td class="{{clsActual(data)}}">{{data.actual}}</td>
                            <td>{{data.prior}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>