<link href="css/em.css" rel="stylesheet">

<div class="container-fluid">
    <div class="panel panel-default">
        <div style="background-color: {{emColor}}" class="panel-heading">
	        <div class="panel-title">
                <h2><span class="glyphicon glyphicon-list-alt"></span>  Emerging Markets</h2>
            </div>
        </div>
        <div class="panel-body">
            <div class="row container-fluid">
                <div class="col-sm-6 joint">
                    <table class="table table-striped table-responsive emTable">
                        <tr>
                            <th>Name</th>
                            <th>Last</th>
                            <th>1D Change</th>
                            <th>5D Change</th>
                        </tr>
                        <tr ng-repeat="data in daily.markets.slice(0,9)">
                            <td>{{data.name}}</td>
                            <td>{{data.last}}</td>
                            <td class="{{getColor(data.d1c)}}">{{data.d1 | number : 2}}</td>
                            <td style="{{getColor(data.d5c)}}">{{data.d5 | number : 2}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-6 joint">
                    <table class="table table-striped emTable">
                        <tr>
                            <th>Name</th>
                            <th>Last</th>
                            <th>1D Change</th>
                            <th>5D Change</th>
                        </tr>
                        <tr ng-repeat="data in daily.markets.slice(9,18)">
                            <td>{{data.name}}</td>
                            <td>{{data.last}}</td>
                            <td class="{{getColor(data.d1c)}}">{{data.d1 | number : 2}}</td>
                            <td style="{{getColor(data.d5c)}}">{{data.d5 | number : 2}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>