<div class="container-fluid">
    <!-- Synopsis -->
    <div class="panel panel-default">
        <div style="background-color: {{onColor}}" class="panel-heading">
	        <div class="panel-title">
                <h2><span class="glyphicon glyphicon-globe"></span> Overnight Synopsis</h2>
            </div>
        </div>
        <div class="panel-body">{{daily.synopsis}}</div>
    </div>

    <div class="panel panel-default">
        <div style="background-color: {{calColor}}" class="panel-heading">
	        <div class="panel-title">
                <h2><span class="glyphicon glyphicon-align-left"></span>  Economic Data</h2>
            </div>
        </div>

        <!-- Calendar -->
        <div class="panel-body">
            <table class="table table-striped calendarTable">
                <tr>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Release</th>
                    <th>Period</th>
                    <th>Survey</th>
                    <th>Actual</th>
                    <th>Prior</th>                
                </tr>
                <tr ng-repeat="data in daily.calendar">
                    <td>{{data.name}}</td>
                    <td>{{data.country}}</td>
                    <td>{{data.date | date : "dd/MM hh/mm"}}</td>
                    <td>{{data.period}}</td>
                    <td>{{data.survey}}</td>
                    <td>{{data.last}}</td>
                    <td>{{data.prior}}</td>   
                </tr>
            </table>
        </div>
    </div>


    <!-- Markets -->
    <div class="panel panel-default">
        <div style="background-color: {{emColor}}" class="panel-heading">
	        <div class="panel-title">
                <h2><span class="glyphicon glyphicon-list-alt"></span>  Emerging Markets</h2>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped calendarTable">
                <tr>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Release</th>
                    <th>Period</th>
                    <th>Survey</th>
                    <th>Actual</th>
                    <th>Prior</th>                
                </tr>
                <tr ng-repeat="data in daily.calendar">
                    <td>{{data.name}}</td>
                    <td>{{data.country}}</td>
                    <td>{{data.date | date : "dd/MM hh/mm"}}</td>
                    <td>{{data.period}}</td>
                    <td>{{data.survey}}</td>
                    <td>{{data.last}}</td>
                    <td>{{data.prior}}</td>   
                </tr>
            </table>
        </div>
    </div>



</div>