<link href="css/home.css" rel="stylesheet">

<div class="container-fluid">
    <!-- Synopsis -->
    <div class="panel panel-default">
        <div style="background-color: {{onColor}}" class="panel-heading">
	        <div class="panel-title">
                <h2><span class="glyphicon glyphicon-globe"></span> Overnight Synopsis</h2>
            </div>
        </div>
        <div class="panel-body textpanel">{{daily.synopsis}}</div>
    </div>

    <!-- Calendar -->
    <div class="panel panel-default">
        <div style="background-color: {{calColor}}" class="panel-heading">
	        <div class="panel-title">
                <h2><span class="glyphicon glyphicon-align-left"></span>  Economic Data</h2>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
            <table class="table table-striped calendarTable">
                <tr>
                    <th>Name</th>
                    <th class="hidden-sm hidden-xs">Country</th>
                    <th>Release</th>
                    <th class="hidden-sm hidden-xs">Period</th>
                    <th>Survey</th>
                    <th>Actual</th>
                    <th>Prior</th>                
                </tr>
                <tr ng-repeat="data in daily.calendar">
                    <td>{{data.name}}</td>
                    <td class="hidden-sm hidden-xs">{{data.country}}</td>
                    <td>{{data.date | date : "dd/MM hh:mm"}}</td>
                    <td class="hidden-sm hidden-xs">{{data.period}}</td>
                    <td>{{data.survey}}</td>
                    <td>{{data.last}}</td>
                    <td>{{data.prior}}</td>
                </tr>
            </table>
            </div>
        </div>
    </div>


    <!-- Markets -->
    <div class="panel panel-default">
        <div style="background-color: {{emColor}}" class="panel-heading">
	        <div class="panel-title">
                <h2><span class="glyphicon glyphicon-list-alt"></span>  Emerging Markets</h2>
            </div>
        </div>
        <div class="panel-body">
            <div class="row container-fluid">
                <div class="col-sm-6 joint">
                    <table class="table table-striped table-responsive emTable">
                        <tr>
                            <th>Name</th>
                            <th>Last</th>
                            <th>1D Change</th>
                            <th>5D Change</th>
                        </tr>
                        <tr ng-repeat="data in daily.markets.slice(0,9)">
                            <td>{{data.name}}</td>
                            <td>{{data.last}}</td>
                            <td class="{{getColor(data.d1c)}}">{{data.d1 | number : 2}}</td>
                            <td class="{{getColor(data.d5c)}}">{{data.d5 | number : 2}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-6 joint">
                    <table class="table table-striped emTable">
                        <tr>
                            <th>Name</th>
                            <th>Last</th>
                            <th>1D Change</th>
                            <th>5D Change</th>
                        </tr>
                        <tr ng-repeat="data in daily.markets.slice(9,18)">
                            <td>{{data.name}}</td>
                            <td>{{data.last}}</td>
                            <td class="{{getColor(data.d1c)}}">{{data.d1 | number : 2}}</td>
                            <td class="{{getColor(data.d5c)}}">{{data.d5 | number : 2}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <!-- News -->
    <div class="panel panel-default">
        <div style="background-color: {{newsColor}}" class="panel-heading">
	        <div class="panel-title">
                <h2><span class="glyphicon glyphicon-bookmark"></span>  News</h2>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-responsive newsTable">
                <tr>
                    <th>Bloomberg News</th>
                    <th>Link</th>
                    <th class="hidden-sm hidden-xs">Date</th>
                    <th class="hidden-sm hidden-xs">Time</th>
             
                </tr>
                <tr ng-repeat="data in daily.news">
                    <td>{{data.title}}</td>
                    <td><a ng-href="//{{data.link}}">Link</a></td>
                    <td class="hidden-sm hidden-xs">{{data.date}}</td>
                    <td class="hidden-sm hidden-xs">{{data.time | date : "hh:mm"}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>