<nav class="navbar navbar-default navbar-fixed-top" style="border-bottom-color: {{themeColor}}">
    <a id="title" class="navbar-brand" href="#/">O/N</a>
    <ul class="nav nav-pills" id="pillNav">
		<li id="onli" style="background-color: {{selected==1?themeColor:0}}"><a href="#/on"><i class="fa fa-moon-o fa-fw"></i><span class="hidden-xs"> Overnight</span></a></li>
		<li id="econli" style="background-color: {{selected==2?themeColor:0}}"><a href="#/calendar"><i class="fa fa-calendar fa-fw"></i><span class="hidden-xs"> Calendar</span></a></li>
		<li id="emli" style="background-color: {{selected==3?themeColor:0}}"><a href="#/em"><i class="fa fa-line-chart fa-fw"></i><span class="hidden-xs"> Markets</span></a></li>
		<li id="newsli" style="background-color: {{selected==4?themeColor:0}}"><a href="#/news"><i class="fa fa-television fa-fw"></i><span class="hidden-xs"> News</span></a></li>
	</ul>
</nav>