<nav class="navbar navbar-default navbar-fixed-top" style="border-bottom-color: {{themeColor}}">
    <a id="title" class="navbar-brand" href="#/">O/N</a>
	<ul class="nav nav-pills">
		<li id="onli" style="background-color: {{selected==1?themeColor:0}}"><a href="#/on">Overnight</a></li>
		<li id="econli" style="background-color: {{selected==2?themeColor:0}}"><a href="#/calendar">Econ</a></li>
		<li id="emli" style="background-color: {{selected==3?themeColor:0}}"><a href="#/em">EM</a></li>
		<li id="newsli" style="background-color: {{selected==4?themeColor:0}}"><a href="#/news">News</a></li>
	</ul>
</nav>
