<link href="css/news.css" rel="stylesheet">
<div ng-include="'/views/navbar.html'"></div>
<div class="main">
    <!-- News List -->
    <div style="position: relative; overflow: hidden;">
		<ul id="newslist" class="list-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search" ng-model="search.title">
            </div>
			<li class="list-group-item entry" ng-repeat="item in feed.items | filter:search" ng-click="selectItem($index)" ng-class="$index==activeId ? 'active' : ''"><i class="fa fa-chevron-right fa-fw"></i><p class="entry-title"> {{item.title}}</p></li>
		</ul>
	</div>

    <!-- Side Reader -->
    <div style="position: relative; overflow: hidden;">
		<div class="hidden-sm hidden-xs reader" id="side-reader">
                <h2 ng-bind-html="feed.items[activeId].title"></h2>
                <p ng-bind-html="feed.items[activeId].content"></p>
                <a class="original" target="_blank" ng-href="feed.items[activeId].link" ng-hide="activeId==-1">View Original</a>
        </div>
    </div>

    <!-- Full Reader -->
    <div style="position: relative; overflow: hidden;">
        <div class="hidden-lg hidden-xl reader" id="full-reader" ng-hide="activeId==-1">
            <div class="btn-group readBtn">
                <a class="btn btn-primary" target="_blank" ng-href="feed.items[activeId].link"><i class="fa fa-external-link fa-fw"></i></a>
                <button type="button" class="btn btn-danger" aria-label="Close" ng-click="activeId=-1"><i class="fa fa-close fa-fw"></i></button>
            </div>
            <h2 ng-bind-html="feed.items[activeId].title"></h2>
            <p ng-bind-html="feed.items[activeId].content"></p>   
        </div>
    </div>
</div>