<link href="css/news.css" rel="stylesheet">
<div ng-include="'/views/navbar.html'"></div>
<div class="main">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-sm-12">
			<ul id="newslist" class="list-group">
				<li class="list-group-item entry" ng-repeat="item in feed.channel.item" ng-click="selectItem(item)" ng-class="{'active' : item.link==activeLink}"><span class="glyphicon glyphicon-chevron-right"></span><p class="entry-title">{{item.title}}</p></li>
			</ul>
			</div>
			<div class="col-md-8 hidden-sm hidden-xs reader-wrap" id="side-reader">
                <div class="reader">
                    <h2>{{activeText.contents.title}}</h2>
                    <p ng-bind-html="activeText.contents.content"></p>
                    <a class="original" target="_blank" ng-href="{{activeText.contents.url}}" ng-show="activeText">View Original</a>
                </div>
            </div>
		</div>
        <div class="hidden-lg hidden-xl" id="full-reader" ng-show="fullRead" ng-style="{height: readerHeight}">
            <div class="reader">
                <div class="btn-group readBtn">
                    <a class="btn btn-primary" target="_blank" ng-href="{{activeText.contents.url}}">View Original</a>
                    <button type="button" class="btn btn-danger" aria-label="Close" ng-click="fullRead=false; activeLink=''">&times;</button>
                </div>
                <h2>{{activeText.contents.title}}</h2>
                <p ng-bind-html="activeText.contents.content"></p>
            </div>        
        </div>
	</div>
</div>