<link href="css/news.css" rel="stylesheet">

<div class="main">
	<div id="news" class="container-fluid">
	  <div class="panel panel-default" id="news">
		<div style="background-color: {{newsColor}}" class="panel-heading" id="news-header">
		    <div class="panel-title">
			    <a ><span class="glyphicon glyphicon-bookmark"></span>  News</a></h2>
            </div>
		</div>

		<div class="panel-body">
			<div class="container-fluid" style="padding-left: 0; padding-top: 0;">
				<div class="row">
					<div class="col-md-5">
					<ul id="newslist" class="list-group" ng-repeat="new in news">
						<li class="list-item">{{new.title}}</li>
					</ul>
					</div>
					<div id="newsreturn" class="col-md-7"></div>
				</div>
			</div>
		</div>
	  </div>
	</div>
</div>