<link href="css/on.css" rel="stylesheet">
<div ng-include="'/views/navbar.html'"></div>
<div class="container-fluid">
    <!-- Synopsis -->
    <div class="panel panel-default">
        <div style="background-color: {{themeColor}}" class="panel-heading">
	        <div class="panel-title">
                <h2><span class="glyphicon glyphicon-globe"></span> Overnight Synopsis</h2>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>Country</th>
                    <th>Equity</th>
                    <th>Currency</th>
                    <th>10 Year</th>
                </tr>
                <tr ng-repeat="data in ondata.overnight">
                    <td>{{data.name}}</td>
                    <td>{{data.eqy}}</td>
                    <td>{{data.ccy}}</td>
                    <td>{{data.bnd}}</td>
                </tr>
            </table>
            </div>
        </div>
    </div>
</div>