<link href="css/on.css" rel="stylesheet">
<div ng-include="'/views/navbar.html'"></div>
<div class="container-fluid">
    <!-- Synopsis -->
    <div class="panel panel-default">
        <div style="background-color: {{onColor}}" class="panel-heading">
	        <div class="panel-title">
                <h2><span class="glyphicon glyphicon-globe"></span> Overnight Synopsis</h2>
            </div>
        </div>
        <div class="panel-body textpanel">{{daily.synopsis}}</div>
    </div>
</div>

<button ng-click="testPost()">Test</button>
<button ng-click="testGet()">Test</button><div ng-model="getResp"></div>